.card {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
}

.card__image {
  width: 282px;
  height: 282px;
  display: flex;
  cursor: pointer;
}

.card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card__name {
  width: 193px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto; /*vertical margines per reviewer comments*/
  font-size: 24px;
  line-height: 1.2;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  opacity: 1;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.card__like-button_active {
  background-image: url(../images/like-active.svg);
}

.card__delete-button {
  background: transparent url(../images/delete-icon.svg) center no-repeat;
  position: absolute;
  border: none;
  width: 18px;
  height: 19px;
  top: 18px;
  left: 249px;
  opacity: 1;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.5;
  transition: opacity 0.5s linear;
}

.card__image-button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 10px 10px 0 0;
  display: block;
}
